.page-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  text-align: left;
}

.new-button {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #fcfcfc; /* Light grey background */
    color: #454748; /* Dark grey text */
    border-radius: 0.375rem; /* Curved border */
    padding: 0.5rem 1rem; /* Padding for X and Y axes */
    transition: background-color 0.3s ease; /* Transition for hover effect */
    outline: none; /* Remove default focus outline */
    font-size: 15px;
}

.new-button:hover {
    background-color: #a5a5a5; /* Slightly lighter grey on hover */
}

.instructions {
  color: grey;
}

.select-label {
  padding: 5px;
}